* {
    box-sizing: border-box
}


/* Helper */
body {
    margin: 0;
    padding: 0;
    color: blue;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  .center-items {
    justify-content: center;
    align-items: center;
  }
  .flex {
    display: flex;
  }
  .column {
    flex-direction: column;
  }
  
  input[type='color'] {
    width: 100%;
    height: 100%;
    background: inherit;
    border: none;
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  .wrap {
    flex-wrap: wrap;
  }
  
  .space-between {
    justify-content: space-between;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .clean-list {
    list-style-type: none;
    padding: 0;
  }
  
  /* !/Helper */
  