@import url("./notes-style/notes-app.css");
@import url("./notes-style/notes-edit-add.css");

/* Email-App */
@import url("./email/email-app-cmp.css");
@import url("./email/email-list-cmp.css");
@import url("./email/email-preview-cmp.css");
@import url("./email/email-filter-cmp.css");
@import url("./email/email-details-cmp.css");
@import url("./email/email-compose-cmp.css");
@import url("./email/email-status-cmp.css");
/* /Email-App */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* /Fonts */


* {
    box-sizing: border-box
}

/* Helper */
body {
  margin: 0;
  padding: 0;
  color: rgb(6, 6, 27);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.center-items {
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

input[type='color'] {
  width: 50px;
  height: 30px;
  background: inherit;
  border: none;
  cursor: pointer;
}
.hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.clean-list {
  list-style-type: none;
  padding: 0;
}

.appsus-page {
  text-align: center;
  font-size: 2em;
  color: black;
  cursor: pointer;
}

.appsus-page img {
  margin: 0 auto;
  display: block;
  min-width: 300px;
  width: 30%;
  height: auto;
}

.appsus-links-container {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  font-weight: bold;
}

.appsus-links-container * {
  cursor: pointer;
  transition: 0.3s
}

.btn {
  cursor: pointer;
  font-family: inherit;
  color: #3f51b5;
  padding: 5px 10px;
  width: 160px;
  font-size: 1rem;
  font-weight: bold;
  background: rgb(205, 239, 255);
  border-radius: 3px;
  border: 1.5px solid #3f51b5;
}

.appsus-link-hover {
  transform: scale(1.1);
  transform: rotateZ(-6deg);
  color: rgb(50, 56, 63);
}
