
.notes-app {
    margin: 10px;
}

.note {
    cursor: pointer;
    display: inline-block;
    border: 1px solid gray;
    margin: 1em;
    padding: 1em;
    transition: 0.3s
}

.note:hover {
    transform: scale(1.03)
}

.note img {
    max-width: 250px;
    background-color: rgb(116, 32, 46);
}

.note h4 {
    margin-top: 0;
}

.note .todo-done {
    text-decoration: line-through;
}

.add-note-btns i {
    cursor: pointer;
}

.edit-add-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-add-input * {
    margin-top:5px;
}

.edit-add-input input {
    width: 300px;
}

.edit-add-input textarea{
    resize: none;
    width: 300px;
    height: 100px;
}
