
.notes-app {
    margin: 10px;
}

.add-note-btns {
    /* height: 5em; */
    display: flex;
    align-items: center;
    display: inline-block;
}
.add-note-btns i {
    cursor: pointer;
    margin: 5px 20px;
    transition: 0.3s;
}
.add-note-btns i:hover {
    transform: scale(1.1)
}

.search-bar-container {
    margin: 1em 0;
    display: inline-block;
}

.search-input {
    display: inline-block;
    padding: 0.5em;
    position: relative;
    bottom: 0.5em;
}

.notes-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    /* height: 3vh; */
}

.note-container {
    display: inline-block;
    /* flex: 1; */
    /* max-width: 10em; */
    /* position: relative; */
}

.note {
    cursor: pointer;
    display: inline-block;
    width: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    transition: 0.3s
}

.note:hover {
    transform: scale(1.03)
}

.note img {
    max-width: 250px;
    background-color: rgb(116, 32, 46);
}

.note h4 {
    margin-top: 0;
}

.note .todo-done {
    text-decoration: line-through;
}

.delete-note-btn {
    z-index: 1;
    position: relative;
    right: 35px;
    top: 20px;
}

.pin-note-btn {
    z-index: 1;
    display: block;
    position: relative;
    left: 5px;
    top: 30px;
    cursor: pointer;
}

.pin-note-btn:not(.pin-btn-pinned) {
    background-color: #cccccc;
}

