
.notes-app {
    margin: 10px;
    /* text-align: center; */
}

.notes-app header {
    text-align: center;    
} 

.actions-bar {
    color: #3f51b5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-note-btns {
    /* height: 5em; */
    display: flex;
    align-items: center;
}
.add-note-btns i {
    cursor: pointer;
    margin: 5px 20px;
    transition: 0.3s;
}
.add-note-btns i:hover {
    transform: scale(1.1)
}

.search-bar-container {
    margin: 1em 0;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
}

.search-input {
    display: inline-block;
    padding: 0.5em;
    position: relative;
    bottom: 0.5em;
    border-radius: 5px;
    border-style: solid;
    border: 1.5px solid #3f51b5;
}

.notes-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    /* height: 3vh; */
}

.note-container {
    display: inline-block;
    margin: 0 auto;
    /* flex: 1; */
    /* max-width: 10em; */
    /* position: relative; */
}

.note {
    cursor: pointer;
    display: inline-block;
    max-width: 400px;
    min-width: 300px;
    /* border: 1px solid gray; */
    border-radius: 5px;
    border: 1.5px solid #3f51b5;
    padding: 1em;
    /* margin: 1em; */
    transition: 0.3s;
    box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.3);
}

.note:hover {
    transform: scale(1.03)
}

.note-image {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    background-color: rgb(116, 32, 46);
}

.note h4 {
    margin-top: 0;
}

.note .todo-done {
    text-decoration: line-through;
}

.notes-app .delete-note-btn {
    z-index: 1;
    position: relative;
    right: 22px;
    top: 20px;
    padding: 2px 6px;
    width: unset;
}

.pin-note-btn {
    z-index: 1;
    height: 30px;
    width: auto;
    display: block;
    position: relative;
    right: 7px;
    top: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .actions-bar {
        flex-direction: column;
    }
}
