.email-preview.active {
  background: wheat;
}
.email-preview {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 5px 0;
    background: rgb(205, 239, 255);
    color: #1d2a6d;
}
.email-preview:hover {
  background: rgb(9, 9, 59);
  color: wheat;
}
.email-preview a{
  color: inherit;
}
.email-preview .envelope-icon{
  margin: 0 10px;
}
.email-preview .fa-trash-alt{
  margin: 0 15px 0 5px;
}

.email-preview i {
  font-size:1.2rem;
  color: inherit;
}
.email-preview .email-subj {
  padding: 0 0 10px 0;
  width: 200px;
  font-size: 1.1rem;
}
.email-preview h4, h5 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.email-preview h4 {
  width:  185px;
}
.email-preview h5 {
  width:  120px;
  
}

@media (max-width: 900px){
  .email-preview i{
    font-size:1rem;
  }
  .email-preview .email-subj {
    font-size: .95rem;
  }
 
  .email-preview h5 {
    font-size: 0.7rem; 
    width: 90px;
  }
  
}
@media (max-width: 750px){
  
}