.email-app {
  height: 100%;
  width: 100%;
  background: #b4ddf1;
}
.email-app .btn {
  margin: 10px 0 0 10px;
}
.email-app header{
  text-align: center;
}
.email-app main  {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  background: inherit;
  padding: 4rem;
}
.email-details .back-btn{
  display: none;
}

.email-list-container {
  width: 43%;
  /* min-width: 440px; */
  border-radius: 2px;
}

.no-emails-to-show {
  background: rgb(79, 18, 158);
}
.no-emails-to-show h5{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

/* //mobile */
@media (max-width: 750px){

  .email-app main{
    padding: 0;
  }
  .email-app main *.no-mobile {
    display: none;
  }
  .email-app .email-status.no-mobile {
    display: none;
  }
  .email-details .back-btn{
    display: block;
    /* change to relative and to float on the screen */
  }

  .email-list-container {
    width: 100%;
  }
  
}
