.email-details {
  background: #effaff;
  border-radius: 2px;
  padding: 10px;
  color: #27347a;
  width: 60%;
}
@media (max-width: 750px){
.email-details{
  width: 100%
}
}
.email-details * {
  margin: 0 0 0.5rem 0;
}
.ctrl-btns-container{
  width: 100%;
}
.email-details .subject{
  max-width: 500px;
  display: inline;
}
.email-details pre {
  width: 85%;
  background: inherit;
  word-wrap: break-word;
  white-space: pre-line;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.35px;
  }
.email-details .btn.ctrl-btn {
  padding: 5px 10px 0 10px;
  width: fit-content;
  transition: all 1s;
  margin-right: 20px;
}
.email-details .ctrl-btn span{
  font-family: 'Montserrat', sans-serif;
  display: none;
  /* transition: all 1s; */
}

.email-details .ctrl-btn:hover{
  background: #404d93;
  color: rgb(205, 239, 255);
  border-color: rgb(205, 239, 255);
}
.email-details .ctrl-btn:hover span{
  display: inline;
}

.email-details h2.empty-inbox {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
