.email-preview.active {
  background: #e0ccf8;
}
.email-preview {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 5px 0;
    background: rgb(205, 239, 255);
    /* max-width: 100vw; */
    color: #1d2a6d;
}
.email-preview a{
  color: inherit;
}
.email-preview i {
  font-size:1.2rem;
  color: inherit;
}
.email-preview .envelope-icon{
  margin: 0 10px;
}
.email-preview .fa-trash-alt{
  margin: 0 45px 0 5px;
}

.email-preview h4 {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}
.email-preview .email-subj {
  width:230px;
  font-size: 1.1rem;
}
.email-preview h5 {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 120px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

