.email-app header{
  text-align: center;
}

.email-app main {
  /* align-items: center; */
  justify-content: center;
}
.email-details .back-btn{
  display: none;
}

@media (max-width: 400px){
  .email-app main *.no-mobile {
    display: none;
  }
  .email-details .back-btn{
    display: block;
    /* change to relative and to float on the screen */
  }
}