.email-compose{
  width: 700px;
}

.email-compose .reply-address {
  color:white;
  background: rgb(153, 152, 156);
}
.email-compose .reply-address:focus{
  color:  black;
  background: inherit;
}
.email-compose label, textarea{
  font-family: inherit;
  float: right;
  margin: 10px
}
.email-compose input {
  font-family: inherit;
}
.email-compose textarea{
  border: 1px rgb(71, 70, 73) solid;

  max-width: 100%;
  height: 250px;
}